<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<div class="container">
    <div class="jumbotron">
        <h1 class="text-dark display-3 text-center title">Flight Booking</h1>
        <h2 class="text-dark display-4 text-center title">Flight List</h2>
        <table class="table table-hover text-nowrap table-responsive-xl" th:if="${!flights.isEmpty()}">
            <thead class="thead-dark">
            <tr>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Base Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="flight : ${flights}">
                <td style="max-width: 140px" class="text-truncate" th:text="${flight.getFlightNumber()}"></td>
                <td style="max-width: 250px" class="text-truncate" th:text="${flight.getDepartureAirport()}"></td></td>
                <td style="max-width: 250px" class="text-truncate" th:text="${flight.getArrivalAirport()}"></td>
                <td style="max-width: 140px" class="text-truncate" th:text="${flight.getDepartureTime()}"></td>
                <td style="max-width: 140px" class="text-truncate" th:text="${flight.calcArrivalTime()}"></td>
                <td style="max-width: 140px" class="text-truncate" th:text="'$ ' + ${#numbers.formatDecimal(flight.basePrice, 0, 'COMMA', 2, 'POINT')}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary btn-md" href="#" th:href="@{/addflight}">Add a Flight</a>
    </div>
</div>
<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>